.box{
    height: 325px;
    width: 182px;
    /* border: 2px solid black; */
    position: fixed;
    inset: 0px;
    margin: auto;
    background-color: rgb(21,39,63);
    border-radius: 18px;
    padding: 18px 15px;
}
body{
    background-color: rgb(13,26,45);
    position: relative;
}
.inner-box{
    margin: 10px;
    border-bottom: 1px solid grey;
    /* border-bottom-color: grey; */
    /* border-bottom-style: solid; */
    border-radius: 2px;
    padding: 5px;

}
img{
    width: 100%;
    color: rgb(0,146,162);
    border-radius: 10px;
}
h4{
    color: white;
}
p{
    color: rgb(154,175,212);
    font-size: 12px;
    transform: translate(0px, -7px);
}
#bottom{
    color:rgb(28,231,233);
}
.left{
    /* float: right; */
    padding: 0px 0px;
    display: inline-block;
    width: 4%;
    position: absolute;
    top: 300px;
    right: 66px;
}
#right{
    float: right;
    position: absolute;
    top: 292px;
    right: 12px;
}
hr{
    
}
#Creation{
    display: inline-block;

}